<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-wid th">
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <% if (locals.isLogged) { %>
                <h3>Bienvenido <a href="/users/details/<%=userLogged.id%>"><%= locals.userLogged.name %></a></h3>              
            <% } else { %>
                <h3><a href="/users/login">Login</a></h3>
            <% } %>
        </header>
        <main>
            <h1>Home</h1>
            <a href="/movies/add">Crear pelicula</a>
            <ul>
                <% for( let i = 0; i < movies.length; i++ ) { %>
                <li>
                    <a href="/movies/details/<%= movies[i].id %>"><%= movies[i].title %></a>
                </li>
                <% } %>
        
            </ul>
        </main>
        <footer>

        </footer>
    </body>
</html>