<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
</head>

<body>
    <header>

    </header>
    <main>
        <h1>Login</h1>
        <section>
            <form action="/users/login" method="POST">
                <label for="name">Nombre de usuario:</label>
                <p><input type="text" name="name" id=""></p>
                <label for="password">Contraseña:</label>
                <p><input type="password" name="password" id=""></p>
                <a href="/"> Atras</a>
            </form>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>