<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
</head>

<body>
    <header>

    </header>
    <main>
        <h1>Agregar pelicula</h1>
        <section>
            <form action="/movies/create" method="POST">
                <label for="title">Titulo</label>
                <p><input type="text" name="title" id="" required></p>
                <label for="rating">Rating</label>
                <p><input type="number" name="rating" id="" required></p>
                <p>Genero</p>
                <select name="genre_id">
                    <option value="" disabled selected>Selecciona el genero</option>
                    <% genres.forEach(genre=> { %>
                        <option value="<%= genre.id %>">
                            <%= genre.name %>
                        </option>
                        <% }); %>
                </select>
                <br>
                <br>
                <label for="awards">Premios</label>
                <p><input type="number" name="awards" id="" required></p>
                <label for="release">Lanzamiento</label>
                <p><input type="date" name="release" id="" required></p>
                <label for="length">Duración</label>
                <p><input type="number" name="length" id="" required></p>
                <p> <button type="submit">Agregar</button> </p>
            </form>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>