<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
</head>

<body>
    <header>

    </header>
    <main>
        <h1>Editar: <%= Movie.title %></h1>
        <section>
            <form action="/movies/update/<%= Movie.id %>?_method=PUT" method="POST">
                <label for="title">Titulo</label>
                <p><input type="text" name="title" id="" required></p>
                <label for="rating">Rating</label>
                <p><input type="number" name="rating" id="" required></p>
                <label for="awards">Premios</label>
                <p><input type="number" name="awards" id="" required></p>
                <label for="release">Lanzamiento</label>
                <p><input type="date" name="release" id="" required></p>
                <label for="length">Duración</label>
                <p><input type="number" name="length" id="" required></p>
                <p> <button type="submit">Modificar</button> </p>
                <br>
                <a href="/"> Atras</a>
            </form>
        </section>
    </main>
    <footer>
