<!DOCTYPE html>
<html>

<head>
    <title><%= user.name %></title>
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
</head>

<body>
    <header>

    </header>
    <main>
        <h1><%= user.name %></h1>
        <h3>Email: <%= user.email %></h3>
        <h3><a href="/users/logout">Logout</a></h3>
        <br>
        <h3>Desea eliminar el usuario?</h3>
        <section>
            <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST">
                <button type="submit">Eliminar</button>
            </form>
            <a href="/"> Atras</a>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>