<!DOCTYPE html>
<html>

<head>
    <title><%= User.name %></title>
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
</head>

<body>
    <header>

    </header>
    <main>
        <h1><%= User.name %></h1>
        <h3>Email: <%= User.email %></h3>
        <h3>Desea eliminar el usuario?</h3>
        <section>
            <form action="/users/delete/<%= User.id %>?_method=DELETE" method="POST">
                <button type="submit">Eliminar</button>
            </form>
            <a href="/"> Atras</a>
        </section>
    </main>
    <footer>

    </footer>
</body>

</html>